@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
}

footer{
    background-color: $grey;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}


.footer-copyright{
    background-color:$thunder;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;


    .food-plan-text {
        color: $orange;
      }
      
}

.footer-copyright p{
    margin-bottom: 0px;
}

.input-text {
    display: flex;
    margin-left: 1000px;
    margin-top: 50px;
    margin-bottom: 180px;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.button-down {

    margin-left: 1035px;
    margin-bottom: -146px;
    background-color: $orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-down:hover {
    background-color: darkorange;
  }

  .contact-col-social {
    font-size: 50px;
    margin-top: -150px;
    margin-left: 735px;

    .fab.fa-facebook-square {
        color: white;
    }

    .fab.fa-twitter-square {
        color: white
    }

    .fab.fa-instagram {
        color: white
    }
}

.paragraf-left {
    color: white;
    font-family: $font-fontAwsome;
    margin-left: 825px;
    margin-bottom: -35px; 
    font-size: 25px;
}

.text-middle {
 color: $white;
 font-size: 15px;
 margin-bottom: -165px;
}

 .text-h3 {
    font-size: 25px;
    margin-bottom: 40px;
    font-family: $font-fontAwsome;
 }

.text-li1 {
    display: list-item;
    font-family: $font-fontAwsome;
}
.text-li2 {
    display: list-item;
    font-family: $font-fontAwsome;
}
.text-li3 {
    display: list-item;
    font-family: $font-fontAwsome;
}
.text-li4 {
    display: list-item;
    font-family: $font-fontAwsome;
}


.text-left_Import {
    color: $white;
    font-size: 15px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: -165px;
  
   }
   
    .text-h3_Import {
       font-size: 25px;
       margin-bottom: 40px;
       margin-right: 1000px;
       font-family: $font-fontAwsome;
    }
   
   .text-li1_Import {
       display: list-item;
       font-family: $font-fontAwsome;
       margin-right: 1000px;
   }
   .text-li2_Import {
       display: list-item;
       font-family: $font-fontAwsome;
       
   }
   .text-li3_Import {
       display: list-item;
       font-family: $font-fontAwsome;
   }
   .text-li4_Import {
       display: list-item;
       font-family: $font-fontAwsome;
   }













// .footer {
//     width: 1440px;
//     height: 250px;
//     background-color: $grey;
//     color: $white;
//     font-family: $font-open-sans;
//     display: flex;
//     align-items: center;
//     padding: 20px 140px;

//     &__createBy {
//         width: 100%;
//         margin-left: -100px;
//         margin-bottom: -200px;
//         background-color: $thunder;
//     }
// }


// <footer class="footer">
//     <div class="footer__leftColumn">
//         <h1 class="footer__leftColumn__title">Lorem ipsum dolor sit amet.</h1>
//         <p class="footer__leftColumn__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nostrum, veniam facilis impedit iste ipsum repellendus excepturi consequuntur veritatis laborum.</p>
//     </div>

//     <div class="footer__centerColumn">
//         <h3 class="footer__centerColumn__title">Lorem, ipsum dolor.</h3>
//         <ul class="footer__centerColumn__text">
//         <li>Lorem, ipsum dolor.</li>
//         <li>Lorem ipsum dolor sit.</li>
//         <li>Lorem, ipsum dolor.</li>
//         <li>Lorem ipsum dolor sit.</li>
//         </ul>
//     </div>


//     <section class="footer__first__createBy">
//     <div class="footer__createBy">
//         <span class="footer__createBy_copy"><i>Copyright</i></span>
//             <a class="footer__createBy__link">ZaplanujJedzonko.pl</a>
//       </div>
// </footer>
