$grey: #5c6160;
$thunder: #4a4a49;
$orange: #FF6600;
$white: #FFFFFA;
$bringht-blue: #3498DB;
$super-gold: #FFB03B;
$green-viridian: #468966;
$red-brick: #BD4932;
$star-grey: #A1A194;
$yellow-light: #fffffa;
