$font-open-sans: "Open Sans", "Helvetica Neue";
$font-charmonman: "Charmonman", "Helvetica Neue", "Helvetica";
$font-fontAwsome: "FontAwsome", "Helvetica Neue", "Helvetica";

$font-size: 14px;
 

*{
@media(min-width: 375px);
}